$layout-breakpoint-small: 320px;
$layout-breakpoint-medium: 600px;

.firebaseui-container
{
    ul
    {
        list-style: none;
        margin: 0;
        padding: 0;

        display: flex;
        justify-content: center;
        gap: 10px;

        @media (max-width: $layout-breakpoint-medium) {
            flex-direction: column;
        }

        li
        {
            display: flex;
            justify-content: center;
        }
    }

    button
    {
        $height: 50px;

        height: $height;
        width: 150px;

        margin: 0;
        padding: 10px;
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;

        font-weight: bold;
        cursor: pointer;

        border: 0;
        border-radius: 10px;
        box-shadow: 0px 0px 5px #404040;

        
        @media (max-width: $layout-breakpoint-small) {
            width: 250px;
        }


        img
        {
            $less: 0.5;
            height: $height * $less;
            margin: calc($height * (1 - $less) / 2) 0;
        }

        .firebaseui-idp-text-long
        {
            display: none;
        }


        &.firebaseui-idp-facebook
        {
            color: white;
        }

        & *
        {
            flex-basis: auto
        }
    }
}