$layout-breakpoint-small: 320px;
$layout-breakpoint-medium: 600px;

$smooth-black: #404040;

.auth-form
{
    width: 50%;
    max-width: 500px;
    margin: auto;
    padding: 100px;

    color: $smooth-black;
    background-color: white;

    border-radius: 10px;
    
    @media (max-width: $layout-breakpoint-medium) {
        width: auto;
        padding: 50px;
    }

    @media (max-width: $layout-breakpoint-small) {
        padding: 20px;
    }

    &__header
    {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        &>*
        {
            flex-basis: 100%;
        }

        a
        {
            color: $smooth-black;
            text-decoration: none;
        }
    }

    &__wrapper
    {
        & *
        {
            flex-basis: 100%;
        }

        &__section
        {
            margin: 50px 0;
            display: flex;
            justify-content: center;

            &__fields
            {
                margin: 20px 0;

                input
                {
                    width: 100%;
                    height: 40px;

                    border-radius: 5px;                    
                    border:none !important;
                    outline: none;

                    background-image:none;
                    background-color:#eee;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;

                    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
                    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
                    box-sizing: border-box;         /* Opera/IE 8+ */

                    padding: 0 10px;
                }

                label>*
                {
                    margin: 5px 0;
                }
            }

            &__buttons
            {
                cursor: pointer;

                width: 100%;
                height: 40px;

                border-radius: 5px;                    
                border:none !important;
                outline: none;

                color: white;

                background-image:none;
                background-color:$smooth-black;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;

                padding: 0 10px;

                &:hover
                {
                    background-color: #595959
                    ;
                }
            }
        }
    }
}

.error_fields
{
    font-size: 80%;

    color: red;

    ::before
    {
        content: '⚠';
    }
}
